config DMABUF_HEAPS_SYSTEM
	tristate "DMA-BUF System Heap"
	depends on DMABUF_HEAPS
	help
	  Choose this option to enable the system dmabuf heap. The system heap
	  is backed by pages from the buddy allocator. If in doubt, say Y.

config DMABUF_HEAPS_SYSTEM_CC_SHARED
	bool "DMA-BUF System Heap for decrypted CoCo VMs"
	depends on DMABUF_HEAPS && ARCH_HAS_MEM_ENCRYPT && DMABUF_HEAPS_SYSTEM=y
	help
	  Choose this option to enable the system_cc_shared dmabuf heap. This
	  allows allocating shared (decrypted) memory for confidential computing
	  (CoCo) VMs.

config DMABUF_HEAPS_CMA
	tristate "DMA-BUF CMA Heap"
	depends on DMABUF_HEAPS && DMA_CMA
	help
	  Choose this option to enable dma-buf CMA heap. This heap is backed
	  by the Contiguous Memory Allocator (CMA). If your system has these
	  regions, you should say Y here.

config DMABUF_HEAPS_TEGRA_VPR
	bool "NVIDIA Tegra Video-Protected-Region DMA-BUF Heap"
	depends on DMABUF_HEAPS && DMA_CMA
	help
	  Choose this option to enable Video-Protected-Region (VPR) support on
	  a range of NVIDIA Tegra devices. Access to VPR memory is limited to
	  a subset of hardware engines and specifically disallowed from the
	  CPU. The region can be fixed, in which case no linear mapping exists
	  for the memory, or it can be resizable on systems that want to reuse
	  the memory for other uses when content-protected video is not played
	  back.
